* {
    box-sizing: border-box;
    text-align: center;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0 !important;
}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.drop-up {
    display: none;
}
h1 {
    display: inline-block;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,pink,#f55,rgb(255, 0, 111));
    background-clip: text;
    -webkit-background-clip: text;
}
.w-90 {
    width: 90%;
}
.eq {
    font-weight: bold;
    font-size: 20px;
    padding: 2px 10px;
}
div.col-3 {
    text-align: center;
}
.drop-div {
    transition: all 700ms ease;
    height: 0;
    opacity: 0;
    margin: 0 !important;
    padding: 25px !important;
}
